@model Mercy_Dev.Models.Servicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalacionSO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalacionSO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limpieza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limpieza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalacionDrivers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalacionDrivers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdServicios">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
