@model IEnumerable<Mercy_Dev.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
